//imports
@import "mixins.scss";

//variables
$font-size-primary: 2rem;

$color-primary: #ecf0f3;
$color-neon: #ade4ff;

$bump-inner-low: inset 1.5rem 1.5rem 2rem darken($color-primary, 10%),
    inset -1.5rem -1.5rem 2rem lighten($color-primary, 10%);
$bump-inner-high: inset 1.5rem 1.5rem 2rem lighten($color-primary, 10%),
    inset -1.5rem -1.5rem 2rem darken($color-primary, 10%);
$bump-outer-low: 0.5rem 0.5rem 1rem darken($color-primary, 10%), -0.5rem -0.5rem 1rem lighten($color-primary, 10%);
$bump-outer-high: 0.5rem 0.5rem 1rem darken($color-primary, 10%), -0.5rem -0.5rem 1rem lighten($color-primary, 10%);

//variables - functional
$output-code-width: 40%;

//base styles
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: $font-size-primary;
}

html {
    font-size: 62.5%;
}

//for testing onley
.testing {
    position: absolute;
    z-index: 1000;
    background-color: rgba(151, 139, 255, 0.178);
    top: 0;
    left: calc(100vw / 2);
}

//styles
.wrapper {
    &__all {
        background-color: $color-primary;
        // background-color:violet;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}

.top-bar {
    &__container {
        flex-grow: 0;

        background-color: $color-primary;
        // background-color:red;
        z-index: 20;
        height: 6rem;
        position: relative;
    }

    &__menu-list {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
    }

    &__menu-item {
        background-color: $color-primary;
        padding: 1rem;
        margin-left: 2rem;
        border-radius: 1rem;
        box-shadow: $bump-outer-high;
    }
}

.output-code {
    &__container {
        background-color: $color-primary;
        // background-color:blue;
        z-index: 10;
        float: left;
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        padding: 2rem;
        box-shadow: $bump-inner-low;
        transition: all 0.8s;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;

        &--animation {
            // background-color:red;
            box-shadow: inset 0 0 0 darken($color-primary, 10%), inset 0 0 0 lighten($color-primary, 10%);
        }
    }

    &__blocks {
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__output {
        background-color: $color-primary;
        height: 25%;
        padding: 1rem;
        margin: 1rem;
        border-radius: 2rem;

        box-shadow: inset 0 0 0 darken($color-primary, 10%), inset 0 0 0 lighten($color-primary, 10%);
        // opacity:0;
        // visibility:hidden;
        color: transparent;
        transition: all 0.8s;

        &--animation {
            box-shadow: $bump-inner-low;
            // visibility:visible;
            // opacity:1;
            color: #000;
            // background-color:red;
            // animation: code-output-apear 1s both;
        }
    }

    &__puller {
        position: relative;
        background-color: $color-primary;
        border: none;
        align-self: center;
        padding: 10rem 0;
        padding-left: 0.4rem;
        border-radius: 2rem;
        margin-right: 1rem;
        box-shadow: $bump-outer-high;

        font-family: "Nanum Myeongjo", serif;
        font-size: 2rem;
        font-weight: 400;
        color: $color-neon;
        text-shadow: 0.2rem 0.2rem 0.2rem lighten($color-neon, 50%), -0.2rem -0.2rem 0.2rem darken($color-neon, 50%);

        &::after {
            content: ">>";
            position: absolute;
            left: 0.4rem;
            color: darken($color-neon, 20%);
            font-weight: 800;
            text-shadow: none;
            filter: blur(0.4rem);
        }
    }
}

.desk {
    &__container {
        flex-grow: 3;

        background-color: $color-primary;
        // background-color:orangered;//for tests
        border-radius: 3rem;
        box-shadow: $bump-inner-low;

        width: 100%;
        height: 50%;
    }
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
}

.btn {
    z-index: 30;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    box-shadow: $bump-outer-high;

    &__toggle-view {
        background-color: $color-primary;
        color: $color-neon;
        position: absolute;
        top: 3rem;
        right: 4rem;
        transition: all 0.2s;
        &:after {
            content: "view";
            color: darken($color-neon, 20%);
            filter: blur(0.8rem);
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        &:hover {
            // background-color:darken($color-primary, 5%);
            box-shadow: 1rem 1rem 2rem darken($color-primary, 10%), -1rem -1rem 2rem lighten($color-primary, 10%);
        }
        &:active {
            box-shadow: 1rem 1rem 2rem darken($color-primary, 10%), -1rem -1rem 2rem lighten($color-primary, 10%),
                inset 0.5rem 0.5rem 1rem darken($color-primary, 10%),
                inset -0.5rem -0.5rem 1rem lighten($color-primary, 10%);
        }
    }
}

/////////canvas
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellowgreen;
    height: 100%;
    width: 100%;
    z-index: 100;
    // z-index: -1;
}

.style-bar {
    &__container {
        flex-grow: 0;

        // background-color: orangered;
        padding: 1rem;
        height: 25%;

        border-radius: 3rem;
        box-shadow: $bump-inner-low;
    }
    &__list {
        // background-color: green;
        list-style: none;
        height: 100%;

        display: flex;
        justify-content: space-evenly;
        overflow-x: scroll;
        gap: 1rem;

        @include scroll-bar-style;
    }
    &__style-item {
        // background-color: #0000ff;
        font-size: 1.5rem;
        padding: 1rem;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        @include scroll-bar-style;

        & input[type="color"] {
            flex-shrink: 0;
            height: 3rem;
        }

        & span {
            margin-top: 1rem;
        }
    }
}

#input-text {
    position: absolute;
    left: -50rem;
    top: -50rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: transparent;
}
// .my-element {
//     display: inline-block;
//     transform: translate(-50%, -50%);
//     margin-left: 10rem;

//     padding: 2rem;

//     font-size: 2rem;
//     color: #000000;
//     text-align: center;
//     text-transform: uppercase;

//     background-color: orangered;

//     border-radius: 1rem;

//     border: 0.5rem dashed black;

//     box-shadow: 0.5rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.5);
// }
